<div class="container-parent">
<div class="description-container first">
<div class="description-nav">
    <h2 class="description-h2">My Projects</h2>
    {{> description}}
</div>
</div>
<div class="description-container">
    <h1>{{selectedProject.title}}</h1>
<div class="description-image">
    <img src='/{{selectedProject.directory}}/screenshot.jpg'>
</div>
<div class="description-text">
        <p>{{selectedProject.description}}</p>
        <div class="button-container">
            <a target="_blank"  href='/{{selectedProject.directory}}'><div class="button">Launch</div></a>
        </div>
        <span class="text-bold">Tech Stack: </span><span class="gradient-text">{{selectedProject.stack}}</span>
        <div class="github"><a target="_blank" href={{selectedProject.github}}><img src="/GitHub-Mark-64px.png"/><span class="text-bold gradient-text"> Go to project </span></a></div>
</div>
</div>
</div>

